
{% extends 'base.html' %}


{% block title %}
    Login
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}



<div class="container">
      <h2> Login your Account</h2>

    <form method="post">
      {{ form |crispy}}
      {% csrf_token %}
      <br>
      <br>
      <button class="btn btn-primary" type="submit" name="button">Login</button>
    </form>
    <br>
        <p>Does not have an account <a href="{% url 'UserRegistration:signup' %}">Create Account</a></p>
</div>
{% endblock %}